@import "tailwindcss";

@theme {
  --animate-spin-slow: spin-slow 20s linear infinite;

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 min-h-screen;
  }
}