# fly.toml app configuration file generated for 01-gas-burner on 2026-02-09T05:10:17Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '01-gas-burner'
primary_region = 'nrt'

[build]

[env]
  TARGET_NAVAX = "0.04"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
